#content {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}

#current-weather {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 0px 10px;
}

#current-weather > .row {
    display: flex;
    gap: 2.5vw;
}

#location-name {
    font-size: 2.5rem;
}

#current-condition {
    font-size: 1.5rem;
}

#current-condition-icon {
    width: 64px;
}

#current-temp-celsius {
    font-size: 3rem;
    align-self: center;
}

#forecast-weather {
    display: flex;
    gap: 2vw;
    margin: 0px 10px;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#forecast-weather .forecast-row {
    display: flex;
    gap: 1vw;
}

#forecast-weather .forecast-temp {
    font-size: 2rem;
    align-self: center;
}

#forecast-weather .forecast-date {
    font-size: 1.2rem;
}